<div class="routes-results">
  <% i = 0 %>
  <% @routes.each do |route| %>
    <% i = i + 1 %>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <!-- Route summary as heading  -->
        <%= route.points.collect{|point| point.name}.join(" > ") %>
        <!-- Save to group button: only if user is logged in -->
        <% if current_user %>
          <div class="dropdown pull-right groups-menu">
            <div class="json-route" style="display: none"><%= route.to_json %></div>
            <button class="btn btn-link dropdown-toggle groups-button" type="button" id=<%= "save-route-menu" + i.to_s %> data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Save
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby=<%= "save-route-menu" + i.to_s %>></ul>
          </div>
        <% end %>
      </div>
      <div class="panel-body">
        <form class="form-horizontal route-data">
          <div class="form-group">
            <% altitudes = route.points.collect{|point| point.altitude}%>
            <label class="col-sm-2 control-label">Altitude:</label>
            <div class="col-sm-10">
              <p class="form-control-static"> <%= [altitudes.min, altitudes.max].join('m - ') %>m</p>
            </div>
            <label class="col-sm-2 control-label">Days:</label>
            <div class="col-sm-10">
              <p class="form-control-static"> <%= route.length %></p>
            </div>
            <label class="col-sm-2 control-label">Hours per day:</label>
            <div class="col-sm-10">
              <% hours = route.avg_hours %>
              <p class="form-control-static"> <%= hours.floor %>h <%= ((hours - hours.floor) * 60).floor  %>min</p>
            </div>
          </div>
        </form>

        <div class="btn btn-link" role="button" data-toggle="collapse" href=<%= "#description-well" + i.to_s %> aria-expanded="false" aria-controls=<%= "description-well" + i.to_s %> >
          Description <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
        </div>
        <div class="collapse" id=<%= "description-well" + i.to_s %> >
          <div class="well">
            <div><%= route.comments %></div>
          </div>
        </div>
      </div>

    </div>
  <% end %>

</div>

