<form class="form-inline full-width" accept-charset="UTF-8" action="find" method="post">
  <div class="form-group">
    <label for="days_num">Number of days:</label>
    <input name="days" value="<%= @parameters[:days] %>" type="number" class="form-control" id="days_num" min="1" max="20" placeholder="How long is your vacation?">
  </div>
  <div class="form-group">
    <label for="avg_hours">Hours per day:</label>
    <input name="hours" value="<%= @parameters[:hours] %>" type="number" class="form-control" id="avg_hours" min="1" max="20" placeholder="Be brave!">
  </div>
  <div class="form-group">
    <label for="cyclic" >Cyclic route:</label>
    <input name="cyclic" <%= "checked" if @parameters[:cyclic] %> id="cyclic" class="form-control" type="checkbox">
  </div>
  <div class="form-group">
    <label for="difficulty" >Difficulty:</label>
    <select name="difficulty" id="difficulty" class="form-control">
      <option value="">Any</option>
      <option value="1" <%= "selected" if @parameters[:difficulty] == "1" %> > 1 </option>
      <option value="3" <%= "selected" if @parameters[:difficulty] == "3" %> > 2 </option>
      <option value="6" <%= "selected" if @parameters[:difficulty] == "6" %> > 3 </option>
      <option value="8" <%= "selected" if @parameters[:difficulty] == "8" %> > 4 </option>
      <option value="10" <%= "selected" if @parameters[:difficulty] == "10" %> > 5 </option>
    </select>
  </div>
  <div class="form-group">
    <label for="destination">Destination:</label>
    <input name="location" value="<%= @parameters[:location]  %>" type="text" class="form-control" id="destination" placeholder="Do you have one?">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-default">Find</button>
  </div>
</form>

<%= render :partial => 'routes' %>

</div>
