<div class="container row">
  <ul class="list-group col-md-4">
    <li class="list-group-item disabled">
    <%= t '.groups' %>
      <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> "), new_group_path, :remote=>true, class: "pull-right" %>
    </li>
    <% @groups.each do |group| %>
      <li class="list-group-item">
        <%= link_to group.name, 'groups/' + group.id.to_s + '/routes', :remote=>true %>
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" role="button"  id="group-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="group-actions">
            <li><%= link_to t('.similar'), 'groups/' + group.id.to_s + '/similar', :remote=>true, class: "group-action", :id=>"similar-group-action" %></li>
            <li><%= link_to t('.edit'), edit_group_path(group), :remote=>true, class: "group-action" %></li>
            <li><%= link_to t('.delete'), 'groups/' + group.id.to_s, :method=>:delete, :remote=>true, class: "group-action" %></li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>

  <div id="routes-per-group" class="col-md-8"></div>

</div>
