<!DOCTYPE html>
<html>
<head>
  <title>Tripfinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	

<!-- Here goes the header image -->
<img class="header-image" src="/assets/index.jpeg"><!--

--><!-- Here goes the header menu --><!--
--><div class="header-menu">
  <ul>
    <li><a href="/">Search</a>
    <li><a>Chat with Ginnie</a>
    <li><a href="<%= groups_path %>">Explore</a>
    <li><a>About</a>
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
        <%= link_to "Logout", :logout, method: :post %>
      <% else %>
        <li class="login"><a href="<%= login_path %>">Log in</a>
      <% end %>
  </ul>
</div>


<!-- Here goes the page body  -->
<%= yield %>

</body>
</html>
